body {
  background: #F6EEE6;
}

container {
  max-width: 800px;
}

img {
  margin-top: 40px;
  width: 180px;
}

h1 {
  font-family: "orpheuspro", serif;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
}

.virtualcard {
  border: 1px solid;
  padding: 20px;
}

.icon {
  font-size: 20px;
  padding: 10px;
}

.fa-whatsapp{
  font-size: 22px;
}


ul {
  list-style: none;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  font-size: 14px;
  text-align: left;
}

.carmen {
font-size: 9px;
margin-top: 4px;
}

footer {
    font-style: normal;
    font-size: 9px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #C8B097;
}

.phone:hover {
  color: #C8B097;
}


.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  background-color: #F6EEE6;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 60%;
  font-weight: bolder;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.contacto {
  font-family: "orpheuspro", serif;
  color: black;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-style: italic;
}

.show {
  display: block;
}

.numero {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  font-size: 16px;
}

#closePopup{
  text-transform: uppercase;
  font-size: 9px;
  padding: 5px;
  background: #F6EEE6;
  border: solid 0.5px;
  border-radius: 20px;
}

#closePopup:hover {
  color: #C8B097;
  background: white;
}



@media (max-width: 900px) {

  

  img {
    width: 100px;
  }

  h1 {
    font-size: 24px;
  }

  ul {
    font-size: 10px;
  }

    footer {
      font-size: 9px;
    }

}